{% extends 'main.html' %} {% block content %} <h1>Room Template</h1>
<div>
  <h3>{{ room.name }}</h3>
  <h5>{{ room.description }}</h5>
  <div class="conversation-wraper">
    <h3>Conversation</h3>
    <hr> {% for message in room_messages %} <div>
      <small>@{{message.user}} - {{message.created|timesince}} ago</small>
      <p>{{message.body}}</p>
    </div>
    <br>{% endfor %}
  </div>
  <div class="conversation-form">
    <form method="POST" action=""> {% csrf_token %} <input type="text" name="body" placeholder="Say something..." />
    </form>
  </div>
</div> {% endblock %}
